/*<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif:700');
</style>
/*font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;*/

body {
	font-family: 'Noto Sans', sans-serif;
	/*font-size: 18px;*/
	color: #ffffff;
	background-color: #000075;
	background-image: url('../img/background_texture.png');
}

.main {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.main-title {
	font-family: 'Noto Serif', serif;
	text-transform: uppercase;
	font-size: 44px;
	margin: 0px;
	background-color: #4F244A;
	/*padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 20px;*/
	padding: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.main-channels {
	border: 4px solid #4F244A;
	padding: 15px;
	padding-top: 0px;
	background-color: #6A4E70;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.main-channels-search{
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	/*width: 150px;*/
	text-align: center;

}

.main-channels-search-button {
	display: inline-block;
	/*width: 80px;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	background-color: #393975;
	border-radius: 5px;
	cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
}
.main-channels-search-button:focus {
	outline: none;
}
.main-channels-search-button:focus {
 background-color: #2F2F60;
}
.main-channels-search-button:hover {
 background-color: #2F2F60;
}

.main-channels-box {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #856E8A;
}

.main-channels-box-name, .main-channels-box-desc, .main-channels-box-state {
	margin: 0px;
}

.main-channels-box-name {
	font-weight: 400;
	float: left;
	width: 50%;
	font-size: 24px;
}

.main-channels-box-state {
	float: right;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	margin-top: 9px;
	margin-right: 40px;
}
.online{
	background-color: #86CB92;
}
.offline{
	background-color: #F45B69;
}

.main-channels-box-desc {
	font-size: 14px;
	margin-left: 20px;
	width: 50%;
}